<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Your Short Url</h2>
   <table class="table table-hover">
    <thead>
      <tr>
        <th>OriginalUrl</th>
        <th>EncryptedUrl</th>
        <th>is_Active</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <form action="home"></form>
    {% for item in data%}
      <tr>
          <td><a href="{{item.1}}">{{item[1]}}</a></td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td> <button type="button">Edit</button></td>
        <td> <button type="button">Delete</button></td>
        </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
